

{% extends '@content/page.twig' %}
{% import '@content/iconmacro.twig' as fa %}

{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<meta name="keywords" content="Notes, Projects, Collaboration, Teamwork" />
<meta name="author" content="Connor Hartwell" />
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock meta %}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}


{% block css %}
    <link rel="stylesheet" type="text/css " href="/logger/assets/css/note.css">
{% endblock css %}


{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. ***NB you don't need <script></script> tags here*** #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load goes in this block. ***NB you don't need <script></script> tags here*** #}
{% endblock onload %}

{% block header %}
    <article class="ml-auto col-md-10 mr-auto">
            <a href="{{base}}/project/{{note.project_id}}">{{fa.fa('arrow-left', 'text-center fa-2x col-md-3 mt-3')}}</a>
            <h1 class="title">{{note.title}}</h1>
        <p class=" text-center">{{note.start_time}} - {{note.end_time}}</p>
    </article>
{% endblock header %}

{% block main %}
    <section class="row text-center">
        <article class="ml-auto col-md-10 mr-auto">
        {% include '@util/message.twig' %}
            <h2> Note: </h2>
            <br />
            <p>{{note.text}}</p>
            <br />

            {% if(uploads|length > 0) %}
            <h3 class="lineBreakBottom">Uploads</h3>
            <p>
            {% for upload in uploads %}
                <a href = "{{base}}/private/file/{{upload.getID}}"> {{upload.filename}} </a> <br />
            {% endfor %}
            </p>
            {% endif %}
            <br />
            {% if (owner) %}
                <form method="post", class='fclass', action= "{{base}}/note/{{note.id}}/delete">
                    <input type="submit" class='btn btn-danger' value="Delete Note" />
                </form>
            {% endif %}
        </article>
    </section>
{% endblock main %}



{% block footer %}
    <article class="col-md-12">
        <p class="text-center">Footer</p>
    </article>
{% endblock footer %}
